NEXT_PUBLIC_BASE_URL=https://qa.wingmall.com

CONSUMER_CLIENT_ID=
CONSUMER_CLIENT_SECRET=
CONSUMER_RSA_PUBLIC_KEY=

DISTRICT_BANKER_CLIENT_ID=
DISTRICT_BANKER_CLIENT_SECRET=
DISTRICT_BANKER_RSA_PUBLIC_KEY=
